/*-----------------------------------------------------------------*/
/*-- GENERAL STYLE ------------------------------------------------*/
* {
  font-family: Calabri;
}

body {
  margin-left: 15em;
  margin-right: 15em;
  background-image: url("images/background.jpg");
  font-family: sans-serif;
}

p {
  font-family:Verdana, Geneva, sans-serif;
}

/* END OF GENERAL STYLE -------------------------------------------*/
/*-----------------------------------------------------------------*/




/*-----------------------------------------------------------------*/
/*-- NAV BAR STYLE ------------------------------------------------*/
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Helvetica;
  border: solid  #007FB8;
  border-radius: 3px;
}

/* Links inside the navbar */
.navbar a {
  font-family: Verdana, Geneva, sans-serif;
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: Verdana, Geneva, sans-serif;
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a blue background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #007FB8;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F9F9F9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #DDDDDD;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* END OF NAV BAR STYLE                                            */
/*-----------------------------------------------------------------*/





/*-----------------------------------------------------------------*/
/* MANAGEMENT MENU STYLE ------------------------------------------*/
/* Make each span take up 1/3rd of the width of the screen */
.span-half {
  width: 49.7%;
  display: inline-block;
  text-align: center;
}

/* Button styling - Links / Visited Links */
.general-button:link, .general-button:visited {
  border: 0;
  background: #007FB8;
  padding: 7px 10px 7px 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s background ease;
  font-family: Verdana, Geneva, sans-serif;
  border-radius: 8px;

}


/* Button styling - Hover / Active */
.general-button:hover, .general-button:active {
  background: #F9F9F9;
  color: #007FB8;
}

/* Sections of text in squares*/
.content-section {
  background: #FAFAFA;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 2px solid;
  border-radius: 3px;
  border-color: #333333;
}

/* Sections of text in squares*/
.article-content {
  margin-top: 5px;
  white-space: pre-line;
}

/* Sections of text in squares*/
.article-title {
  font-size: 1.5em;
  border-bottom: 1px solid #E3E3E3;
}

/* Sections of text in squares*/
.article-title-sub {
  font-weight: bold;
  border-bottom: 1px solid #E3E3E3
}
/* END OF MANAGEMENT MENU STYLE                                    */
/*-----------------------------------------------------------------*/





/*-----------------------------------------------------------------*/
/* TABLE STYLE ----------------------------------------------------*/
table {
  border-collapse: collapse;
  width: 100%;
}

/* Header colouring */
th {
/*  background: #36454F;
  color: white;*/
  background: #36454F;
  color: white;
  white-space:nowrap;
}

/* Border / Colouring for general table */
td, th {
  border: 1px solid #DDDDDD;
  padding: 8px;
}

.td-button {
   text-align: center;
}

/* Zebra stripes */
tr:nth-child(even) {
  background-color: #DDDDDD;
}
tr:nth-child(odd) {
  background-color: #D3D3D3 ;
}

/* White hover over current row */
tr:hover {
  background-color: white;
}
/* END OF TABLE STYLE                                              */
/*-----------------------------------------------------------------*/





/*-----------------------------------------------------------------*/
/* FORM STYLE -----------------------------------------------------*/
input, select{
  border: 2px solid #2980B9;
  padding: 0.5rem;
  font-size: 14px;
  border-radius: 5px;
}

.formBtn{
  border: 0;
  background: #007FB8;
  padding: 0.5rem;
  color: white;
  margin: 0.25rem 5px;
  width: auto;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s background ease;
  font-family: Verdana, Geneva, sans-serif;
}

.formBtn:hover{
  background: #F9F9F9;
  color: #007FB8;
}

fieldset {
  border: 2px solid #333;
  border-style: solid;
  padding: 1rem;
  border-radius: 5px;
}

fieldset legend {
  font-size: 20px;
}

label {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
}

p input {
  font-family: Verdana, Geneva, sans-serif;

}

select, option {
  font-family: Verdana, Geneva, sans-serif;
}
/* END OF FORM STYLE ----------------------------------------------*/
/*-----------------------------------------------------------------*/
