<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="PHP-SRePS" />
  <meta name="keywords" content="SWE300010 - Development Project 2 - Design, Planning and Management" />
  <meta name="author" content="Tim Keesman" />
  <title>Add Item</title>
  <link href="styles/stylesheet.css" rel="stylesheet" />

  <!-- Purpose: Add a new item to the stock -->
</head>

<body>

  <div class="navbar">
    <a href="index.ejs">Home</a>

    <div class="dropdown">
      <button class="dropbtn">Sales</button>
      <div class="dropdown-content">
        <a href="addSales.ejs">Add Sales</a>
        <a href="manageSales.ejs">Manage Sales</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Stock</button>
      <div class="dropdown-content">
        <a href="addItem.ejs">Add Item</a>
        <a href="manageStock.ejs">Manage Stock</a>
        <a href="viewStock.ejs">View Stock</a>
      </div>
    </div>

    <a href="report.ejs">Report</a>
    <a href="contact.ejs">Contact</a>
  </div>

  <h1>Add Sales Record</h1>

  <form id="addItemForm" action="/ItemAdded" method="post">
    <fieldset>
      <legend>Item Information</legend>

      <p><label for="itemName">Name:</label>
        <input type="text" name="itemName" id="itemName"/>
      </p>

      <p><label for="itemPrice">Price:</label>
        <input type="number" step=".01" name="itemPrice" id="itemPrice"/>
      </p>

      <p><label for="itemType">Item Type:</label>
        <select name="itemType" id="itemType">
          <%- options %>
        </select>
      </p>
    </fieldset>

    <input type="submit" value="Submit" />
    <input type="reset" value="Reset Form" />

  </form>

  <br />
  <footer>
    <p>SWE300010 - Development Project 2 - Design, Planning and Management</p>
    <p>Pharmacy Sales Reporting and Prediction System</p>
  </footer>

</body>

</html>
