<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="PHP-SRePS" />
  <meta name="keywords" content="SWE300010 - Development Project 2 - Design, Planning and Management" />
  <meta name="author" content="Rushi Patel" />
  <title>Add Sales</title>

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/loadhtml.js"></script>
  <link href="styles/stylesheet.css" rel="stylesheet" />
</head>

<body>

  <div class="navbar" id="navbar">
  </div>

  <h1>Add Sales Record</h1>

  <form id="addSalesForm" action="/SalesRecordAdded" method="post">

    <fieldset>
      <legend>Sales Information</legend>
      <p><label for="itemID">Item ID:</label>
        <select name="itemID" id="itemID">
          <%- options %>
        </select>
      </p>

      <p><label for="salesDate">Sales Date:</label>
        <input required="required" type="date" value="YYYY-MM-DD" name="salesDate" id="salesDate" /> <!-- TODO: Should the default date be today? -->
      </p>

      <p><label for="itemQuantity">Quantity:</label>
        <input required="required" type="number" name="itemQuantity" id="itemQuantity"/>
      </p>
    </fieldset>

    <input type="submit" value="Submit" />
    <input type="reset" value="Reset Form" />

  </form>

  <br />
  <div id="footer">
  </div>

</body>

</html>
