<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="PHP-SRePS" />
  <meta name="keywords" content="SWE300010 - Development Project 2 - Design, Planning and Management" />
  <meta name="author" content="Rushi Patel" />
  <title>Add Sales</title>

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/loadhtml.js"></script>
  <link href="/html/styles/stylesheet.css" rel="stylesheet" />

  <script>
  var items_arr = [];
  var return_arr = [];

  $( document ).ready(function()
  {
    $("#search_btn").click(function()
    {
      $.ajax({url: "/getItems?searchString=" + $("#item_search").val(), success: function(result){
        var output_string = "";
        result.forEach(function(element)
        {
          output_string += "<p>Item: " + element.Item_ID + " | " + element.Item_Name + " <button name='add_item' id='add_item' value='" + element.Item_ID + "'>Add Item</button></p>";
        });

        $("#items").html("<hr/>" + output_string);
      }
      });
    });

    $("#items").on("click", "#add_item", function()
    {
      if (!items_arr.includes($(this).val()))
      {
        items_arr.push($(this).val());
        draw_item_input($(this).val());
        console.log(items_arr);
      }
    });

    $("#item_selection").on("click", "#remove_element", function()
    {
      var index = items_arr.indexOf($(this).val());
      if (index !== -1) items_arr.splice(index, 1);

      $(this).closest("div").remove();
    });
  });

  function draw_item_input(item_id)
  {
    $.ajax({url: "/getItemByID?itemID=" + item_id, success: function(result){
      var item_result;
      result.forEach(function(element)
      {
        console.log(element.Item_ID);
        item_result = element;
      });

      $("#item_selection").append("<div id='" + item_result.Item_ID + "'><fieldset><p>Item: <strong>" + item_result.Item_Name
       + "</strong></p><p><label for='quantity_" + parseInt(item_result.Item_ID) + "'>Quantity: </label> <input type='number' id='quantity_" +
       parseInt(item_result.Item_ID) + "'/></p><button id='remove_element' name='remove_element' value='" + item_result.Item_ID + "'>Remove</button></fieldset></div>");
    }
    });
  }

  function collect_item_data()
  {
    for (i = 0; i < items_arr.length; i++)
    {
      console.log(items_arr[i] + "|" + $("#" + items_arr[i]).find("input").val());
      return_arr.push([items_arr[i],  $("#" + items_arr[i]).find("input").val()]);
    }

    var item_info = " ";
    for (i = 0; i < return_arr.length; i++)
    {
      item_info += "["
      for (j = 0; j < return_arr[i].length; j++)
      {
        item_info += return_arr[i][j].toString();

        if (j < (return_arr[i].length - 1))
        {
          item_info += ",";
        }
      }

      item_info += "]"

      if (i < (return_arr.length - 1))
      {
        item_info += ",";
      }
    }

    $("#item_info").val(item_info);
    console.log(item_info);
    return_arr = [];
  }
  </script>
</head>

<body>

  <div class="navbar" id="navbar">
  </div>

  <h1>Add Sales Record</h1>
  <fieldset>
    <legend>Sales Information</legend>

    <fieldset>
      <legend>Select Item(s)</legend>
      <p><label for="item_search">Item Search:</label>
        <input type="text" name="item_search" id="item_search"/>
        <button name="search_btn" id="search_btn">Search</button>
      </p>

      <p id="items"></p>
    </fieldset>

      <br/>

      <div id="item_selection">
      </div>

      <form id="addSalesForm" action="/SalesRecordAdded" method="post" onsubmit="collect_item_data()">
        <p><label for="salesDate">Sales Date:</label>
          <input required="required" type="date" value="YYYY-MM-DD" name="salesDate" id="salesDate" /> <!-- TODO: Should the default date be today? -->
        </p>

        <input type="text" hidden id="item_info" name="item_info" value=" "/>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset Form" />
      </form>
</fieldset>

  <br />
  <div id="footer">
  </div>

</body>

</html>
