<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="PHP-SRePS" />
  <meta name="keywords" content="SWE300010 - Development Project 2 - Design, Planning and Management" />
  <meta name="author" content="Rushi Patel" />
  <title>Add Sales</title>

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/loadhtml.js"></script>
  <link href="/html/styles/stylesheet.css" rel="stylesheet" />

  <script>
  //stores the currently selected items for sale, this prevents having multiple entries of the same item
  var items_arr = [];

  //the return array is the array return from the form, which is written to a hidden text input inside the form
  var return_arr = [];

  $( document ).ready(function()
  {
    $("#search_btn").click(function()
    {
      $.ajax({url: "/getItems?searchString=" + $("#item_search").val(), success: function(result){
        var output_string = "";
        //loops through returned SQL results, constructing an output string
        result.forEach(function(element)
        {
          output_string += "<p>Item: " + element.Item_ID + " | " + element.Item_Name + " | Stock Remaining: " + element.itemsRemaining + " <button name='add_item' id='add_item' class='formBtn' value='" + element.Item_ID + "'>Add Item</button> </p>";
        });

        //output string write to div with id = items
        $("#items").html("<hr/>" + output_string);
      }
      });
    });

    //when a button with id = add_item inside div with id = items, items is added to sale, and then display to page
    $("#items").on("click", "#add_item", function()
    {
      if (!items_arr.includes($(this).val()))
      {
        items_arr.push($(this).val());
        draw_item_input($(this).val());
        console.log(items_arr);
      }
    });

    //when a button with id = remove_element inside div with id = item_selection,
    //item seleection item is removed and element is removed from items_arr
    $("#item_selection").on("click", "#remove_element", function()
    {
      var index = items_arr.indexOf($(this).val());
      if (index !== -1) items_arr.splice(index, 1);

      $(this).closest("div").remove();
    });
  });

  </script>
  <script src="/js/form_transformation.js"></script>
</head>

<body>

  <div class="navbar" id="navbar">
  </div>

  <h1>Add Sales Record</h1>
  <fieldset>
    <legend>Sales Information</legend>

    <fieldset>
      <legend>Select Item(s)</legend>
      <p><label for="item_search">Item Search:</label>
        <input type="text" name="item_search" id="item_search"/>
        <button name="search_btn" class="formBtn" id="search_btn">Search</button>
      </p>


      <p id="items"></p>
    </fieldset>

      <br/>

      <div id="item_selection">
      </div>

      <form id="addSalesForm" action="/SalesRecordAdded" method="post" onsubmit="collect_item_data()">
        <p><label for="salesDate">Sales Date:</label>
          <input required="required" type="date" value="YYYY-MM-DD" name="salesDate" id="salesDate" /> <!-- TODO: Should the default date be today? -->
        </p>

        <input type="text" hidden id="item_info" name="item_info" value=" "/>
        <input type="submit" value="Submit" class="formBtn" />
        <input type="reset" value="Reset Form" class="formBtn" />
      </form>
</fieldset>

  <br />
  <div id="footer">
  </div>

</body>

</html>
