<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="PHP-SRePS" />
  <meta name="keywords" content="SWE300010 - Development Project 2 - Design, Planning and Management" />
  <meta name="author" content="Wilson To" />
  <title>Delete Item</title>

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/loadhtml.js"></script>
  <link href="/html/styles/stylesheet.css" rel="stylesheet" />
</head>

<body>

  <div class="navbar" id="navbar">
  </div>

  <h1>Delete Item</h1>
  <a href='/ManageItems'><p>< Item Management</p></a>

  <form id="deleteItemForm" action="/ItemDeleted" method="post">
    <fieldset>
      <legend>Item Information</legend>
      <p>Item ID:
          <%= itemID %>
      </p>

      <input hidden="hidden" type="text" id="itemID" name="itemID" <%- itemIDValue %>/>

      <p>Name: <%= itemName %></p>

    </fieldset>

    <input type="submit" value="Delete" />

  </form>

  <br/>

  <div id="footer">
  </div>

</body>

</html>
