<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="PHP-SRePS" />
  <meta name="keywords" content="SWE300010 - Development Project 2 - Design, Planning and Management" />
  <meta name="author" content="Tim Keesman" />
  <title>Edit Item Type</title>

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/loadhtml.js"></script>
  <link href="/html/styles/stylesheet.css" rel="stylesheet" />
</head>

<body>

  <div class="navbar" id="navbar">
  </div>

  <h1>Item Type Edited</h1>

  <form id="addSalesForm" action="/ItemTypeEdited" method="post">    <!-- TODO:Decide on a actoin page  -->
    <input required="required" type="text" name="itemTypeID" hidden="hidden" id="itemTypeID" <%- itemTypeID %> />

    <fieldset>
      <legend>Item Type Information</legend>
      <p><label for="typeName">Type Name:</label>
        <input required="required" type="text" name="typeName" id="typeName" <%- itemTypeName %> />
      </p>
    </fieldset>

    <input type="submit" value="Submit" />
    <input type="reset" value="Reset Form" />

  </form>

  <br />

  <div id="footer">
  </div>

</body>

</html>
