<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="PHP-SRePS" />
  <meta name="keywords" content="SWE300010 - Development Project 2 - Design, Planning and Management" />
  <meta name="author" content="Tim Keesman" />
  <title>Edit Item</title>

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/loadhtml.js"></script>
  <link href="/html/styles/stylesheet.css" rel="stylesheet" />
</head>

<body>

  <div class="navbar" id="navbar">
  </div>

  <h1>Edit Item</h1>

  <form id="addItemForm" action="/ItemEdited" method="post">
    <fieldset>
      <legend>Item Information</legend>
      <input hidden="hidden" type="text" id="itemID" name="itemID" <%- itemID %>/>

      <p><label for="itemName">Name:</label>
        <input required="required" type="text" name="itemName" id="itemName" <%- itemName %>/>
      </p>

      <p><label for="itemPrice">Price:</label>
        <input required="required" type="number" step=".01" name="itemPrice" id="itemPrice" <%- itemPrice %>/>
      </p>

      <p><label for="itemType">Item Type:</label>
        <select name="itemType" id="itemType">
          <%- options %>
        </select>
      </p>
    </fieldset>

    <input type="submit" class="formBtn" value="Submit" />
    <input type="reset" class="formBtn" value="Reset Form" />

  </form>

  <br/>

  <div id="footer">
  </div>

</body>

</html>
