<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="PHP-SRePS" />
  <meta name="keywords" content="SWE300010 - Development Project 2 - Design, Planning and Management" />
  <meta name="author" content="Rushi Patel" />
  <title>Index</title>

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/loadhtml.js"></script>
  <link href="styles/stylesheet.css" rel="stylesheet" />
</head>

<body>

  <div class="navbar" id="navbar">
  </div>
  
  <h1>Home Page</h1>
  <p>Lorem ipsum dolor sit amet adipiscing bibendum sem orci tempus aliquet gravida,
  orci amet iaculis aptent blandit quam accumsan donec in facilisis, cursus ante
  curabitur aliquet condimentum tincidunt facilisis non cubilia lorem et pretium
  aliquam phasellus ipsum metus quisque auctor tristique donec nibh, praesent
  congue ultricies aenean ornare ligula sagittis proin sed vestibulum purus
  tempus aenean neque aliquam curae vivamus purus egestas ligula tincidunt nullam.</p>

  <br />
  <div id="footer">
  </div>

</body>

</html>
