<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="PHP-SRePS" />
  <meta name="keywords" content="SWE300010 - Development Project 2 - Design, Planning and Management" />
  <meta name="author" content="Rushi Patel" />
  <title>Home</title>
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/loadhtml.js"></script>
  <link href="/html/styles/stylesheet.css" rel="stylesheet" />
</head>

<body>
  <!-- Include Header element -->
  <div class="navbar" id="navbar"></div>
  <br />

  <!-- Information box with general information -->
  <span class="span-info-box">
    <article class="content-section">
        <span class="article-title">Home</span>
        <p class="article-content">
          Welcome to Pharmacy Sales Reporting and Prediction System. You can use this to add, edit, delete and update sales and items. The system can also assit you in understanding sales and demands of an item. You can use the sales prediction feature to see how the product or categories is likely to perform.
        </p>
    </article>
  </span>

  <!-- Include Footer element -->
  <br />
  <div id="footer"></div>
</body>
</html>
