<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="PHP-SRePS" />
    <meta name="keywords" content="SWE300010 - Development Project 2 - Design, Planning and Management" />
    <meta name="author" content="Timothy Keesman" />
    <title>Item Added</title>
    <link href="styles/stylesheet.css" rel="stylesheet" />

    <!-- Purpose: This page is called after user interacts with addItem.ejs.  -->
  </head>

  <body>

    <div class="navbar">
      <a href="index.ejs">Home</a>

      <div class="dropdown">
        <button class="dropbtn">Sales</button>
        <div class="dropdown-content">
          <a href="addSales.ejs">Add Sales</a>
          <a href="manageSales.ejs">Manage Sales</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">Stock</button>
        <div class="dropdown-content">
          <a href="addItem.ejs">Add Item</a>
          <a href="manageStock.ejs">Manage Stock</a>
          <a href="viewStock.ejs">View Stock</a>
        </div>
      </div>

      <a href="report.ejs">Report</a>
      <a href="contact.ejs">Contact</a>
    </div>

    <h1>Item Added</h1>
    <p>Name: <%=name %></p>
  </body>
</html>
