<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="PHP-SRePS" />
    <meta name="keywords" content="SWE300010 - Development Project 2 - Design, Planning and Management" />
    <meta name="author" content="Timothy Keesman" />
    <title>Item Type Edited</title>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/loadhtml.js"></script>
    <link href="/html/styles/stylesheet.css" rel="stylesheet" />
  </head>

  <body>
    <div class="navbar" id="navbar">
    </div>

    <h1>Item Type Edited</h1>
    <p>Type Name: <%=name %></p>

    <br/>

    <div id="footer">
    </div>

  </body>
</html>
