<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8" />
        <meta name="description" content="PHP-SRePS" />
        <meta name="keywords" content="SWE300010 - Development Project 2 - Design, Planning and Management" />
        <meta name="author" content="Eddie Monserrate" />
        <title>Login Form</title>
        
        <script src="/js/jquery-3.4.1.min.js"></script>
        <script src="/js/loadhtml.js"></script>
        <link href="/html/styles/stylesheet.css" rel="stylesheet" />
	</head>

	<body>
		<div>        
        <fieldset>
            <legend>LOGOUT/legend>
            <p>
                Logged Out...
            </p>
            
            <a class="general-button" href="/register" class="button">New User</a>
        </fieldset>
        </div>
        
        <br />
        <div id="footer"></div>
	</body>
</html>