<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Item Type Manager</title>
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/loadhtml.js"></script>
  <link href="html/styles/stylesheet.css" rel="stylesheet" />
</head>

<body>
  <!-- Include Header element -->
  <div class="navbar" id="navbar"></div>
  <br />

  <!-- Information box with general information -->
  <article class="content-section">
    <span class="article-title">Item Type Management</span>
      <p class="article-content">
      Manage Items types will allow you to add, view, delete and update item types. In "View Item Records", you can individually see items are also able to edit and delete.</p>
  </article>

  <!-- Left Container -->
  <span class="span-half">
    <article class="content-section">
      <span class="article-title-sub">View Item Types</span>
      <p class="article-content">View, Edit, Delete All Item Type Record Data</p>
      <a class="general-button" href="/ViewItemTypeRecords" class="button">View Types(s)</a>
      <br />
      <br />
    </article>
  </span>


  <!-- Right Container -->
  <span class="span-half">
    <article class="content-section">
      <span class="article-title-sub">Add Item Types</span>
      <p class="article-content">Add Item Types to Database</p>
      <a class="general-button" href="/AddItemType" class="button">Add Type(s)</a>
      <br />
      <br />
    </article>
  </span>

  <!-- Include Footer element -->
  <br />
  <div id="footer"> </div>
</body>
</html>
