<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>User Manager</title>
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/loadhtml.js"></script>
  <link href="html/styles/stylesheet.css" rel="stylesheet" />
</head>

<body>
  <!-- Include Header element -->
  <div class="navbar" id="navbar"></div>
  <br />

  <!-- Information box with general information -->
  <article class="content-section">
      <span class="article-title">User Management</span>
        <p class="article-content">
          Use this page to view, delete or edit user record data.
        </p>
  </article>

  <!-- Left Container -->
  <span class="span-full">
    <article class="content-section">
      <span class="article-title-sub">View User Records</span>
      <p class="article-content">View, Edit, Delete All User Record Data</p>
      <a class="general-button" href="/ViewUsers" class="button">View Record(s)</a>
      <br />
      <br />
    </article>
  </span>

  <!-- Include Footer element -->
  <br />
  <div id="footer"></div>

</body>
</html>
