<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Sales Manager</title>
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/loadhtml.js"></script>
  <link href="html/styles/stylesheet.css" rel="stylesheet" />
</head>

<body>
  <!-- Include Header element -->
  <div class="navbar" id="navbar"></div>
  <br />

  <!-- Information box with general information -->
  <article class="content-section">
      <span class="article-title">Sales Management</span>
        <p class="article-content">
          Manage Sales is used for adding and viewing sales record. Within view sales record, you can also edit and delete it.
        </p>
  </article>

  <!-- Left Container -->
  <span class="span-half">
    <article class="content-section">
      <span class="article-title-sub">View Sale Records</span>
      <p class="article-content">View, Edit, Delete All Sales Record Data</p>
      <a class="general-button" href="/ViewSaleRecords" class="button">View Record(s)</a>
      <br />
      <br />
    </article>
  </span>

  <!-- Right Container -->
  <span class="span-half">
    <article class="content-section">
      <span class="article-title-sub">Add Sale Records</span>
      <p class="article-content">Add Sales Records to Database</p>
      <a class="general-button" href="/AddSalesRecord" class="button">Add Record(s)</a>
      <br />
      <br />
    </article>
  </span>

  <span class="span-full">
    <article class="content-section">
      <span class="article-title-sub">Stock Levels</span>
      <p class="article-content">View Stock Levels</p>
      <a class="general-button" href="/ViewStockLevels" class="button">View Stock Levels</a>

      <br />
      <br />
    </article>
  </span>

  <span class="span-full">
    <article class="content-section">
      <span class="article-title-sub">Predictions</span>
      <p class="article-content">Items Predictons</p>
      <a class="general-button" href="/SalesItemsPredictions" class="button">View Predictions</a>
      <br/>
      <br/>
      <p class="article-content">Item Type Predictons</p>
      <a class="general-button" href="/SalesItemTypePredictions" class="button">View Predictions</a>
  </span>

  <!-- Include Footer element -->
  <br />
  <div id="footer"></div>

</body>
</html>
