<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Sales Manager</title>
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/loadhtml.js"></script>

  <script src="/js/form_transformation.js"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

  <!-- All CSS for this webpage can be found in a section in the stylesheet -->
  <link href="html/styles/stylesheet.css" rel="stylesheet" />
</head>

<body>
	<!-- Include Header element -->
  <div class="navbar" id="navbar"></div>
  <h1>Item Type Predictions</h1>

  <!-- Table to display Sales Record Data -->
  <table id="TypePredictionTable" class="table table-hover table-bordered">

    <!-- Hard coded table headers -->
    <thead>
      <tr>
        <th class="centerColText">Item Type ID</th>
        <th class="centerColText">Item Type Name</th>
        <th class="centerColText">Sales Data</th>
      </tr>
    </thead>

    <!-- Table body -->
    <tbody>

    <!-- If there is table data - print it out -->
    <% if(ItemData.length) {
      <!-- Create table entry for each observation -->
      for(var i = 0; i < ItemData.length;i++)
      { %>
        <tr>
          <td class="centerColText"><%= ItemData[i].itmType_ID %></td>
          <td class="centerColText"><%= ItemData[i].item_Type %></td>
          <td class="centerColText"><button class="formBtn" onclick='show_prediction(<%= ItemData[i].itmType_ID %>, "itemType", "ForecastItemType")'>View Predictions</button></td>
        </tr>
    <% }
    }
    <!-- Else there is no table data -->
    else { %>
      <tr>
      	<!-- Alert the user -->
        <td colspan="2">NO ITEM DATA FOUND - Add Item records to database and they will display here</td>
      </tr>
    <% }
    %>
    </tbody>
  </table>

  <div id='prediction_frame' hidden>
    <iframe id='display_frame' src=''></iframe>
  </div>

  <!-- Include Footer element -->
  <br />
  <div id="footer"> </div>

<script type="text/javascript">
$(document).ready(function() 
{
  $('#TypePredictionTable').dataTable(
  {
    "columnDefs": [
      { "orderable": false, "targets": 2 },
      { "searchable": false, "targets": 2 },
    ]
  });
});
</script>
</body>
</html>
